
# NASA Digital Delivery Network - Data Science & Analytics

## Core Python Basics


The core Python language has fairly limited functionality without the use of external support packages. This notebook covers some of the basics


## Assigning variables


pretty much any data type in python can be assigned as a variable (numbers, lists, dictionaries, text, etc.)

In [1]:

x = "Hello World!!"

print(x)

Hello World!!

In [2]:
pi = 3.14

pi

3.14

____


## Arithmetic


we can perform simple arithmatic opertations (+, -, *, /)

In [3]:

2. + 2.

4.0


we can assign variables as part of the process:

In [4]:

a = 2. + 2.

b = (a + pi) * 2 / 4

b

3.5700000000000003

___


## Text


There are core python operations for working with text

In [5]:

a = "Hello"

a

'Hello'


you can also do "Text arithmetic"

In [6]:

a = "Hello"

b = "World"

a + " " + b

'Hello World'


we can combine numbers and text using the method "format" along with a format presentation type (for example a float to the second decimal)

In [7]:

pi2 = "pi / 2 = {:.3f}".format(pi/2)

print(pi2)

pi / 2 = 1.570

____


## Lists


a list can contain any combination of text, numbers, dictionaries, other lists, or any python object:

In [8]:

mylist = [a, "World", pi, [0,1,2,3], pi2]

mylist

['Hello', 'World', 3.14, [0, 1, 2, 3], 'pi / 2 = 1.570']


list items can be called from their numeric index:

In [9]:

mylist[0]

'Hello'

In [10]:
mylist[3]

[0, 1, 2, 3]


indexing can be done sequentially:

In [11]:
mylist[3][0]

0


and can be used with arithmetic:

In [12]:

mylist[2] * mylist[3][1]

3.14


lists can also be "sliced" based on index. For example to remove the first element:

In [13]:

mylist[1:]

['World', 3.14, [0, 1, 2, 3], 'pi / 2 = 1.570']


or to remove the last element:

In [14]:

mylist[:-1]

['Hello', 'World', 3.14, [0, 1, 2, 3]]


or to take every second element:

In [15]:

mylist[::2]

['Hello', 3.14, 'pi / 2 = 1.570']


we can also index a list relative to the end of the list. For example to take the second to last element:

In [16]:

mylist[-2]

[0, 1, 2, 3]


or to take every second element in reverse order:

In [17]:

mylist[::-2]

['pi / 2 = 1.570', 3.14, 'Hello']

____



## Dictionaries

A dictionary is similar to a list, but instead un positional indices, each element is called using a "keyword"

In [18]:

mydict = {'zero': 0, 'one':1, 'two': 2, 'all': [0,1,2]}

mydict['zero']

0


Elements of a dictionary can be any python object (text, numeric, list, or even other dictionaries)

In [19]:
mydict['all']

[0, 1, 2]


and can be used with arithmetic in in conjunction with other Python methods

In [20]:

mydict['all'][1] * mydict['two']

2

____


# Loops


Loops are fundamental to low-level coding. In Python, loops are indicated using "for" or "while" followed by a colon. All routines in the loop must be indented after this statement:

In [21]:

mylist = [0, 1, 2, 3, 4, 5]

for element in mylist:
    print(element * pi)

0.0
3.14
6.28
9.42
12.56
15.700000000000001


Loops can be used to create other lists as well:

In [22]:

newlist = []
for element in mylist:
    newlist.append(element * pi)

newlist

[0.0, 3.14, 6.28, 9.42, 12.56, 15.700000000000001]


Alternatively, loops can be informed with numerical indices using the command "enumerate" in the loop syntax:

In [23]:

for i, element in enumerate(mylist):
    newlist[-i] = element * pi
    
newlist

[0.0, 15.700000000000001, 12.56, 9.42, 6.28, 3.14]


Python also has a very unique functionality called "list comprehension" for simplifying the use of lists. For example, the routine above can be done in a single line

In [24]:


newlist = [element * pi for element in mylist]

newlist

[0.0, 3.14, 6.28, 9.42, 12.56, 15.700000000000001]

____


## Logic


Simple logic is common to every programming language (e.g. if / else statements). For Python this begins with Boolean arguments (True / False). For example:


greater than or less than:

In [25]:

1 > 0

True

In [26]:
1 < 0

False


greater than or equal to and less than or equal to

In [27]:

0 >= 0

True

In [28]:

1 <= 0

False


equality or non equality

In [29]:
0 == 0 * pi

True

In [30]:
0 != 0 * pi

False


logic arguments can be combined using "and" and "or"

In [31]:

((0 == 0) and (1 > 0))

True

In [32]:

((0 == 0) and (1 < 0))

False

In [33]:

((0 == 0) or (1 < 0))

True


These logic arguments can then be integrated into Loops:

In [34]:

newlist = []

for element in mylist:
    if element <= 1:
        newlist.append(element * pi)
    elif ((element < 4) and (element != 2)):
        newlist.append(element / pi)
    else:
        newlist.append(element)

newlist

[0.0, 3.14, 2, 0.9554140127388535, 4, 5]


or similarly using list comprehension

In [35]:

newlist = [element * pi if element <= 2 else element for element in mylist]

newlist

[0.0, 3.14, 6.28, 3, 4, 5]

____


## Functions


functions can be defined using "def" followed by a colon. Everything included in the function must be indented:

In [36]:

def area_circle(radius):
    pi = 3.14159
    area = pi * radius ** 2
    return area


the defined function can then be called elsewhere in the code

In [37]:

area_circle(2)

12.56636


functions can be defined with as many variables as needed. The scope of this is far to big to cover in this intro:

In [38]:

def hypoteneuse(a, b):
    c = (a**2 + b**2) ** (1/2)
    return c

In [39]:

hypoteneuse(3,4)

5.0

____


## Practical example


We start with a list of files we want to process:

In [40]:

filelist = [
    'apple_day_2018.csv',
    'banana_night_2019.csv',
    'orange_day_2020.csv',
    'strawberry_2020.csv',
    'mango_night_2021.csv',
    'kiwi_day_2022.csv',
]


we can use the text method "split" to split the file name by some character:

In [41]:

filelist[0].split('_')

['apple', 'day', '2018.csv']


we can then define a function to process the file name:

In [42]:

def process_filename(file):
    text_split = file.split('_')
    key = text_split[0]
    item = int(text_split[-1].split('.')[0])
    
    return key, item


and we can use that function in a loop to process the file list into two dictionaries

In [43]:
night_dict = {}
day_dict = {}

for file in filelist:
    key, item = process_filename(file)
    if 'day' in file:
        day_dict[key] = item
    elif 'night' in file:
        night_dict[key] = item


we can then view either of the dictionaries:

In [44]:

night_dict

{'banana': 2019, 'mango': 2021}


and we can call any of the dictionary values from their keywords:

In [45]:

day_dict['apple'] - night_dict['mango']

-3